doctype html
html
  head 
    title  Super Dancoing Academy | SDA |superdanceacademy.in 
    
    style 
        include ../static/style.css
    body
       nav#nabbar 
        ul  
         li #[a(href = "/") Home]
         li#brand #[a(href = "/") SuperDanceAcademy.in] 
         li #[a(href = "/Services") Services]
         li #[a(href = "/Classes") Classes]
         li #[a(href = "/Contact-Us") Contact-Us]
         li #[a(href = "/sponser") Our Sponsers]0
         li #[a(href = "/About-us") About-Us]

    section#homepicture
        div.big Welcome to Super Dancing Acadamy
        div "Dance is the hidden language of the soul." 
    section#infosection
        | This is A Info Section
    section#sponsersection
        | This is A Sponser Section
        
    footer 
        | All right reserved.© 
        span.span #[a(href = "/") SuperDanceAcademy.in] 

    script
        include ../static/script.js