doctype html
html
  head 
    title  Super Dancoing Academy | SDA |superdanceacademy.in 
    style 
        include ../static/style.css
    body
       nav#nabbar 
        ul  
         li #[a(href = "/") Home]
         li#brand #[a(href = "/") SuperDanceAcademy.in] 
         li #[a(href = "/Services") Services]
         li #[a(href = "/Classes") Classes] 
         li #[a(href = "/Contact-Us") Contact-Us]
         li #[a(href = "/sponser") Our Sponsers]
         li #[a(href = "/About-us") About-Us]
    section#homepicture
       section#home
            div.divbox 
               h1 Modern Dance
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, laudantium?
               a.btn(href = "/enrole") Enrole now
               
            div.divbox 
               h1 Salsa Dance
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, laudantium?
               a.btn(href = "/enrole") Enrole now
            div.divbox 
               h1 Hip hop Dance
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, laudantium?
               a.btn(href = "/enrole") Enrole now
        
        
        
    footer 
        | All right reserved.© 
        span.span #[a(href = "/") SuperDanceAcademy.in] 

    script
        include ../static/script.js